
/* CSS General */

* { 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 2px 4px #d9d9d9;
    height: 120px;

    display: flex;
    align-items: center;
}

#nav-menu {

    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

#nav-menu-left {
    flex-grow: 1;
}

.nav-links {
    /* debug*/
    background-color: red;

    display: flex;
    align-items: center;  
}

.nav-links, .nav-links ul {
    list-style-type: none;
}  

.nav-links li {
    padding: 0 20px;
}

li.has-dropdown {
    position: relative;
}

.big-dropdown {
    display: none;
    background-color: blue;
    position: absolute;
    top: 100%;
    right: 0;
}

.dropdown {
    background-color: green;
    display: none;
    position: absolute;
}

.has-big-dropdown:hover .big-dropdown {
    display: flex;
}

.has-dropdown:hover .dropdown {
    display: block;
}



